:root {
    --clr-headercolor: #643838;

}

.profile {
    width: 125px;
    height: 145px;
    padding-right: 10rem;
    overflow: auto;
    margin-top: -35rem;
    margin-bottom: -0.25rem;




}

.change {
    max-width:none;
    height: auto;
    display: flex;
    flex-direction: column;
    max-width: calc();

}


#header_id {
    background-color: var(--clr-headercolor);
    display: inline-flexbox;
    text-transform: uppercase;
    max-width:none;
    
}

.contact {
    flex-direction: row;
    max-width: 100%;

}

.adjust {
    padding-left: 225px;
    font-size: 50px;
    
    display: flex;
    overflow: visible;
    text-justify: auto;
    text-align: center;



}


.headingcolor {
    color: var(--clr-headercolor);
}

.adjustment{
    font-size: 20px;
}

li,h3,p{
    padding-left: 20px;
}

.lang{
    padding-bottom: 75px;
}

body{
    background-color:black;
    color:bisque;
}

.download_btn{
    border-radius: 5px;
    color:bisque;
    font-size: 1rem;
    background-color:crimson;
    padding: 15px;
    margin-bottom: auto;
    justify-content: center;
    

}


